{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "targets": { "ie": "11" } }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ],
  "env": {
    "es": {
      "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", { "modules": false }]
      ]
    }
  }
}
