extends ../../layout.pug

block variables
  - const title = 'Combo box with a disabled option and autoselect'
  - const example = 'combo_box/autoselect_disabled_option'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
