extends ../../layout.pug

block variables
  - const title = 'Menu button'
  - const example = 'menu_button/menu_button'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
