extends ../../layout.pug

block variables
  - const title = 'Disabled combo box'
  - const example = 'combo_box/disabled'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
