extends ../../layout.pug

block variables
  - const title = 'Drop down with a placeholder option'
  - const example = 'drop_down/placeholder_option'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
