extends ../../layout.pug

block variables
  - const title = 'Close on select option'
  - const example = 'combo_box/close_on_select'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
