extends ../../layout.pug

block variables
  - const title = 'Radios with an additional description'
  - const example = 'radios/with_description'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
