extends ../../layout.pug

block variables
  - const title = 'Menu bar'
  - const example = 'menu_bar/menu_bar'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
