extends ../../layout.pug

block variables
  - const title = 'ARIA 1.2 Combo box'
  - const example = 'combo_box/aria_1_2'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
