extends ../../layout.pug

block variables
  - const title = 'Delimited highlighter'
  - const example = 'highlighters/delimited'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
