block variables
doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/examples/styles.scss')
  body
    include side_bar
    main
      block main
    footer
      p Version: #{version}

    script(src='/examples/render.jsx' type="module")
