mixin link(href)
  if href.endsWith(`${example}/index.pug`) || href === path
    a
      block
  else
    a(href=href)
      block

nav
  div React combo boxes
  details
    summary Select
    +link('/examples/select.pug') About
    +link('/examples/select/string_options/index.pug') String options
    +link('/examples/select/object_options/index.pug') Object options
    +link('/examples/select/placeholder_option/index.pug') Placeholder option
    +link('/examples/select/disabled_option/index.pug') Disabled option
    +link('/examples/select/grouped_options/index.pug') Grouped options
    +link('/examples/select/mapped_options/index.pug') Mapped options
    +link('/examples/select/html_options/index.pug') HTML options
    +link('/examples/select/very_long_option/index.pug') Very long option
    +link('/examples/select/id_options/index.pug') Options with an number id
    +link('/examples/select/multiple/index.pug') Multiple options
    +link('/examples/select/multiple_with_disabled/index.pug') Multiple options with disabled
  details
    summary Combo box
    +link('/examples/combo_box.pug') About
    +link('/examples/combo_box/string_options/index.pug') String options
    +link('/examples/combo_box/object_options/index.pug') Object options
    +link('/examples/combo_box/disabled_option/index.pug') Disabled option
    +link('/examples/combo_box/grouped_options/index.pug') Grouped options
    +link('/examples/combo_box/html_options/index.pug') HTML options
    +link('/examples/combo_box/mapped_options/index.pug') Mapped options
    +link('/examples/combo_box/without_autocomplete/index.pug') Without autocomplete
    +link('/examples/combo_box/without_managed_focus/index.pug') Without managed focus
    +link('/examples/combo_box/inline_autocomplete/index.pug') With inline autocomplete
    +link('/examples/combo_box/aria_1_1/index.pug') ARIA 1.1
    +link('/examples/combo_box/aria_1_2/index.pug') ARIA 1.2
    +link('/examples/combo_box/aria_1_2_groups/index.pug') ARIA 1.2 groups
    +link('/examples/combo_box/listbox_footer/index.pug') Listbox footer
    +link('/examples/combo_box/tab_select/index.pug') Tab select
    +link('/examples/combo_box/contain_listbox/index.pug') Contain listbox
    details
      summary Searches
      +link('/examples/searchers.pug') About
      +link('/examples/combo_box/fetch/index.pug') Fetch search
      +link('/examples/combo_box/async_search/index.pug') Async search
      +link('/examples/combo_box/search_suggestions/index.pug') Search suggestions
      +link('/examples/combo_box/background_autocomplete/index.pug') With background autocomplete
    details
      summary Edge cases
      +link('/examples/combo_box/identical_options/index.pug') Identical options
      +link('/examples/combo_box/all_disabled_options/index.pug') All disabled options
      +link('/examples/combo_box/autoselect_disabled_option/index.pug') Disabled option and autoselect
      +link('/examples/combo_box/search_min_length/index.pug') Search min length
      +link('/examples/combo_box/very_long_option/index.pug') Very long option
      +link('/examples/combo_box/disabled/index.pug') Disabled
      +link('/examples/combo_box/read_only/index.pug') Read only
    details
      summary Combo box table
      +link('/examples/combo_box_table.pug') About
      +link('/examples/combo_box_table/combo_box/index.pug') Table
      +link('/examples/combo_box_table/combo_box_headers/index.pug') With headers
      +link('/examples/combo_box_table/combo_box_grouped/index.pug') Grouped
      +link('/examples/combo_box_table/combo_box_column_width/index.pug') Column width adjustment
    details
      summary Highlighters
      +link('/examples/highlighters.pug') About
      +link('/examples/highlighters/token/index.pug') Token
      +link('/examples/highlighters/prefix/index.pug') Prefix
      +link('/examples/highlighters/substring/index.pug') Substring
      +link('/examples/highlighters/delimited/index.pug') Delimited
  details
    summary Drop down
    +link('/examples/drop_down.pug') About
    +link('/examples/drop_down/string_options/index.pug') String options
    +link('/examples/drop_down/object_options/index.pug') Object options
    +link('/examples/drop_down/placeholder_option/index.pug') Placeholder option
    +link('/examples/drop_down/disabled_option/index.pug') Disabled option
    +link('/examples/drop_down/disabled/index.pug') Disabled drop down
    +link('/examples/drop_down/grouped_options/index.pug') Grouped options
    +link('/examples/drop_down/html_options/index.pug') HTML options
    +link('/examples/drop_down/mapped_options/index.pug') Mapped options
    +link('/examples/drop_down/without_managed_focus/index.pug') Without managed focus
    +link('/examples/drop_down/aria_1_2_groups/index.pug') With ARIA 1.2 groups
    details
      summary Edge cases
      +link('/examples/drop_down/identical_options/index.pug') Identical options
      +link('/examples/drop_down/no_options/index.pug') No options
      +link('/examples/drop_down/all_disabled_options/index.pug') All disabled options
      +link('/examples/drop_down/very_long_option/index.pug') Very long option
    details
      summary Drop down table
      +link('/examples/drop_down_table.pug') About
      +link('/examples/drop_down_table/drop_down/index.pug') Table
      +link('/examples/drop_down_table/drop_down_headers/index.pug') With headers
      +link('/examples/drop_down_table/drop_down_grouped/index.pug') Grouped
  details
    summary Radios
    +link('/examples/radios.pug') About
    +link('/examples/radios/string_options/index.pug') String options
    +link('/examples/radios/object_options/index.pug') Object options
    +link('/examples/radios/disabled_option/index.pug') Disabled option
    +link('/examples/radios/with_description/index.pug') With a description
    +link('/examples/radios/grouped_options/index.pug') Grouped options
  details
    summary Checkboxes
    +link('/examples/checkboxes.pug') About
    +link('/examples/checkboxes/string_options/index.pug') String options
    +link('/examples/checkboxes/object_options/index.pug') Object options
    +link('/examples/checkboxes/disabled_option/index.pug') Disabled option
    +link('/examples/checkboxes/with_description/index.pug') With a description
    +link('/examples/checkboxes/grouped_options/index.pug') Grouped options
  +link('/examples/datalist/index.pug') Datalist
  +link('/examples/test_helper.pug') Test helper
  +link('/examples/accessibility.pug') Accessibility

script(src='/examples/side_collapse.js')
