@use "sass:meta";
@import 'npm:normalize.css/normalize.css';
@import 'npm:prismjs/themes/prism.css';

$text-colour: #161616;

@include meta.load-css('../styles/dropdown');
@include meta.load-css('../styles/combobox');

body {
  font: 1em/1.5 sans-serif;
  display: grid;
  grid-template: 'nav main' 'footer footer' minmax(min-content, max-content) / 20em;
  color: $text-colour;
  min-height: 100vh;

  @media (width <= 50em) {
    grid-template:
      'main' minmax(min-content, max-content) 'nav' auto
      'footer' minmax(min-content, max-content)
      / 1fr;
  }
}

main {
  grid-area: main;
  padding: 1em;
  min-width: 0;
  max-width: 60em;
}

nav {
  grid-area: nav;
  border-right: 1px solid #ddd;

  @media (width <= 50em) {
    border-top: 1px solid #ddd;
    border-right: none;
  }

  > div {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1rem;
  }

  summary {
    padding: 0.5em 1em;
    font-weight: bold;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 0.2em;
    padding-left: 1em;
    color: $text-colour;
  }

  details a {
    padding-left: 2em;
  }

  details details a {
    padding-left: 3em;
  }

  details details details a {
    padding-left: 4.5em;
  }

  details details summary {
    margin-left: 1em;
  }

  details details details summary {
    margin-left: 3em;
  }

  a:hover {
    background-color: #dfdfdf;
  }

  a:not([href]),
  a:not([href]):hover {
    background-color: #caeaff;
  }
}

footer {
  grid-area: footer;
  border-top: 1px solid #ddd;
  text-align: right;
  padding: 0 1em;
  font-size: 0.9em;
}

code,
output {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  background: rgba(27 31 35 / 5%);
  font-size: 85%;
  padding: 0.2em 0.4em;
}

pre > code {
  padding: 0;
}

pre {
  padding: 1em;
  margin: 0.5em 0 1.5em;
  overflow: auto;
  background: #f5f2f0;
  font-size: 90%;
}

table {
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 0.4em;
    border: 1px solid #ddd;
  }

  td {
    vertical-align: top;
    padding: 0.4em;
    border: 1px solid #ddd;
  }
}

blockquote {
  border-left: 0.25em solid #ddd;
  margin: 0 0 1.5em;
  padding-left: 1em;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-footer {
  background-color: #caeaff;
  padding: 0.2em 0.5em;
  border-top: 1px solid #ddd;
}

label,
.label {
  display: block;
  font-weight: bold;
}

input[type='text'] {
  width: 30em;
  max-width: 100%;
}

fieldset {
  border: 1px solid #ddd;
  display: flex;

  label {
    margin-right: 1.5em;
  }
}

kbd {
  font-family: monospace;
  border: 1px solid #ddd;
  box-shadow: inset 0 -1px 0 #ddd;
  border-radius: 0.3em;
  display: inline-block;
  padding: 0.2em 0.5em;
}

[data-react-example] {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1.5em;

  > label:not(:first-child),
  > .label:not(:first-child),
  > fieldset {
    margin-top: 1.5em;
  }
}

.radios {
  display: block;
}

.react-combo-boxes-radio__input {
  cursor: pointer;
}

.react-combo-boxes-radio__label,
.react-combo-boxes-checkbox__label {
  display: inline;
  margin-left: 0.5em;
  cursor: pointer;
}

.react-combo-boxes-radio-group {
  display: block;
}
