extends ../../layout.pug

block variables
  - const title = 'Radios with string options'
  - const example = 'radios/string_options'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
