extends ../../layout.pug

block variables
  - const title = 'Drop down with table layout'
  - const example = 'drop_down_table/drop_down'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
