extends ../../layout.pug

block variables
  - const title = 'Drop down with grouped options'
  - const example = 'drop_down/grouped_options';

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
