extends ../../layout.pug

block variables
  - const title = 'Drop down without managed focus'
  - const example = 'drop_down/without_managed_focus'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
