@use 'variables';
@use 'sr_only';

::highlight(react-combo-boxes) {
  background-color: var(--react-combo-boxes-mark-color);
}

@mixin react-combo-boxes-listbox-container {
  list-style: none;
  min-width: 100%;
  width: max-content;
  max-width: 100%;
  background-color: white;
  border: var(--react-combo-boxes-focus-border-width) solid
    var(--react-combo-boxes-border-color);
  max-height: 30rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  position: absolute;
  z-index: 1;
  margin: 0 1em 1em 0;
  min-height: 1.5em;
  box-sizing: border-box;
  box-shadow:
    0 var(--react-combo-boxes-focus-border-width) 0 0
      var(--react-combo-boxes-focus-border-color),
    var(--react-combo-boxes-focus-border-width) 0 0 0
      var(--react-combo-boxes-focus-border-color),
    calc(var(--react-combo-boxes-focus-border-width) * -1) 0 0 0
      var(--react-combo-boxes-focus-border-color),
    0 2px 4px #aaa;
  overscroll-behavior: none;
  -ms-scroll-chaining: none;

  // For when displayed as a popover
  inset: auto;

  &[data-orientation='top'] {
    margin: 1em 1em 0 0;
    box-shadow:
      0 calc(var(--react-combo-boxes-focus-border-width) * -1) 0 0
        var(--react-combo-boxes-focus-border-color),
      var(--react-combo-boxes-focus-border-width) 0 0 0
        var(--react-combo-boxes-focus-border-color),
      calc(var(--react-combo-boxes-focus-border-width) * -1) 0 0 0
        var(--react-combo-boxes-focus-border-color),
      0 -2px 4px #aaa;
  }
}

@mixin react-combo-boxes-listbox {
  &__listbox {
    @include react-combo-boxes-listbox-container;
  }

  &__option,
  &__table-row {
    padding: var(--react-combo-boxes-padding-y)
      var(--react-combo-boxes-padding-x);
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--react-combo-boxes-color-active);
      background-color: var(--react-combo-boxes-background-color-active);
    }

    &[aria-selected='true'] {
      background-color: var(--react-combo-boxes-background-color-selected);
      color: var(--react-combo-boxes-color-selected);

      mark {
        color: var(--react-combo-boxes-color-selected);
      }
    }

    &:focus {
      outline: none;
    }

    &[aria-disabled='true'] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__group-label {
    padding: var(--react-combo-boxes-padding-y)
      var(--react-combo-boxes-padding-x);
    font-weight: bold;

    &:first-child {
      padding-top: calc(var(--react-combo-boxes-padding-y) * 2);
    }

    &:last-child {
      padding-top: calc(var(--react-combo-boxes-padding-y) * 2);
    }
  }

  // stylelint-disable-next-line no-descending-specificity
  &__group-label ~ &__option {
    padding-left: 1.5em;
  }

  &__group {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // stylelint-disable-next-line no-descending-specificity
  &__group > &__option {
    padding-left: 1.5em;
  }

  &__table {
    border-collapse: separate;
    border-spacing: 0;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    border: none;
    min-width: 100%;
  }

  &__table-header,
  &__table-group-header {
    padding: var(--react-combo-boxes-padding-y)
      var(--react-combo-boxes-padding-x);
    border: none;
    vertical-align: top;
    text-align: left;
  }

  &__table-header {
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--react-combo-boxes-background-color);
  }

  &__table-group-header {
    border-top: 1px solid #ddd;
  }

  &__listbox--header {
    scroll-padding-top: var(--react-combo-boxes-table-header-offset);
  }

  &__table-cell {
    padding: var(--react-combo-boxes-padding-y)
      calc(var(--react-combo-boxes-padding-x) * 2)
      var(--react-combo-boxes-padding-y) var(--react-combo-boxes-padding-x);
    border: none;
    vertical-align: top;
  }
}
