$react-combo-boxes-background-color: #fff !default;
$react-combo-boxes-background-color-selected: #ffd250 !default;
$react-combo-boxes-background-color-active: #caeaff !default;
$react-combo-boxes-color-selected: #000 !default;
$react-combo-boxes-color-active: #000 !default;
$react-combo-boxes-padding-x: 0.5em !default;
$react-combo-boxes-padding-y: 0.1em !default;
$react-combo-boxes-border-color: #000 !default;
$react-combo-boxes-focus-border-width: 2px !default;
$react-combo-boxes-focus-border-color: #ffd250 !default;
$react-combo-boxes-enable-icons: true !default;
$react-combo-boxes-mark-color: #e5e5e5 !default;
$react-combo-boxes-table-header-offset: 1.7em !default;
