$react-combo-boxes-background-color: #fff !default;
$react-combo-boxes-background-color-selected: #004b88 !default;
$react-combo-boxes-color-selected: #fff !default;
$react-combo-boxes-background-color-active: #caeaff !default;
$react-combo-boxes-color-active: #000 !default;
$react-combo-boxes-padding-x: 0.5em !default;
$react-combo-boxes-padding-y: 0.1em !default;
$react-combo-boxes-focus-border-color: #fcbb69 !default;
$react-combo-boxes-focus-border-width: 2px !default;
$react-combo-boxes-enable-icons: true !default;
