:root {
  --react-combo-boxes-background-color: #fff;
  --react-combo-boxes-background-color-selected: #ffd250;
  --react-combo-boxes-background-color-active: #caeaff;
  --react-combo-boxes-color-selected: #000;
  --react-combo-boxes-color-active: #000;
  --react-combo-boxes-border-color: #000;
  --react-combo-boxes-mark-color: #e5e5e5;
  --react-combo-boxes-table-header-offset: 1.7em;
  --react-combo-boxes-padding-x: 0.5em;
  --react-combo-boxes-padding-y: 0.1em;
  --react-combo-boxes-focus-border-width: 2px;
  --react-combo-boxes-focus-border-color: #ffd250;
}
