extends ../../layout.pug

block variables
  - const title = 'Select with very long options'
  - const example = 'select/very_long_option'

block main
  include:markdown README.md

  div(data-react-example=example)

  pre.language-js
    code.language-js
      include:highlight:packageInclude index.jsx
